:root{
    --primary:#0077cc;
    --secondary:#1f1f1f;
    --bg:#f4f6f9;
    --card:#ffffff;
    --text:#222;
}

.dark-mode{
    --primary:#4da6ff;
    --secondary:#0f172a;
    --bg:#0f172a;
    --card:#1e293b;
    --text:#ffffff;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:var(--bg);
    color:var(--text);
    line-height:1.6;
    transition: all 0.4s ease;
}

header{
    background: navy;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

nav{
    background: navy;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 15px;
    flex-wrap: nowrap;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    color:#00d4ff;
}

main{
    width:90%;
    max-width:1200px;
    margin:30px auto;

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:25px;
}

section{
    background:var(--card);
    padding:25px;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    transition: all 0.4s ease;
}

h2{
    color:var(--primary);
    margin-bottom:15px;
}

footer{
    text-align:center;
    background:var(--secondary);
    color:white;
    padding:20px;
    margin-top:30px;
}

form{
    display:flex;
    flex-direction:column;
}

input,
textarea{
    padding:12px;
    margin-top:5px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:8px;
}

button{
    background:var(--primary);
    color:white;
    border:none;
    padding:12px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    opacity:0.9;
}

.theme-btn{
    position:fixed;
    top:20px;
    right:20px;
    background:#111827;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:10px;
    cursor:pointer;
    font-weight:bold;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.theme-btn:hover{
    transform:scale(1.05);
}
@media(max-width:768px){

    header h1{
        font-size:28px;
    }

    nav{
        gap:20px;
        flex-wrap:wrap;
    }

    main{
        grid-template-columns:1fr;
    }
}
